.Rproj.user
.Rhistory
.RData
.Ruserdata
2016 Original Data.xlsx
County Index computation checker version.xlsm
County Index computation with Indicator PC change or Net Quantile input table V61.xlsm
UW_R_Script corrections.R
~$United Way.pptx
df_complete1.rattle
df_complete.rattle
*.csv
dontsave.R
*.xlsx
