# These are the files github ignores
# Rstudio files
.Rproj.user

# History Files
.Rhistory
.Rapp.history

# Session Data files
.Ruserdata
.RData
2.RData

# Data files
2016 Original Data.xlsx
County Index computation checker version.xlsm
County Index computation with Indicator PC change or Net Quantile input table V61.xlsm
*.xlsx

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Backup and rattle files
~$United Way.pptx
df_complete1.rattle
df_complete.rattle

#Junk Script Files and new files
dontsave.R
UW_R_Script corrections.R
trash/
Complete index table.csv
censusdata.csv
Complete Z-score table.csv
corrplot.csv
*.lp
UnitedwayExamples/app04.R
Pictures/IMG_1952.MOV
