# These are the files github ignores
# Rstudio files
.Rproj.user

# History Files
.Rhistory
.Rapp.history

# Session Data files
.Ruserdata
.RData
2.RData

# Data files
2016 Original Data.xlsx
County Index computation checker version.xlsm
County Index computation with Indicator PC change or Net Quantile input table V61.xlsm

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Backup and rattle files
~$United Way.pptx
df_complete1.rattle
df_complete.rattle

#Junk Script Files and new files
dontsave.R
UW_R_Script corrections.R
junk/deleted/
Complete index table.csv
censusdata.csv
Complete Z-score table.csv
corrplot.csv
*.lp
UnitedwayExamples/app04.R
Pictures/IMG_1952.MOV
Pictures/To Email/ModalViewPosition.pdf
Pictures/To Email/7471550e-652c-4a8a-9bff-b5dcc2f7cddf.pdf
junk/To ask questions/v33i01.pdf
junk/To ask questions/asdfsdfs.R
2016 Original Data.csv
County Index computation with Indicator PC change or Net Quantile input table V62_2.xlsm

junk/deleted/
test.R
data/New folder/
junk/To ask questions/zipmapcomplete.csv
junk/lpsolver2.R
model/2016 Original Data num.xlsx
2016 Original With County Calcs.xlsx
2016 Original Data copy.xlsx
model/.DS_Store
junk/deleteme.R
data/Unit Test Z Score.xlsx
data/fwdfollowupfromyesterdaysconversation.zip
data/GOVTUNIT_Georgia_State_Shape/GOVTUNIT_Georgia_State_Shape.zip
data/GOVTUNIT_Georgia_State_Shape/GOVTUNIT_Georgia_State_Shape.xml
Unit Test 2016 Original Data.xlsx
trash/df_complete_script.R
trash/template.R
trash/tempR.R
trash/unit test.R
trash/United1.R
data/GOVTUNIT_Georgia_State_Shape/Employment_Estimates_by_Census_Tract_2009.shp
data/GOVTUNIT_Georgia_State_Shape/UNITED WAY TRACTS (TIGER 2010).DBF
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).prj
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).shp
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).shx

data/UNITED WAY TRACTS (TIGER 2010).DBF
data/United Way Tracts (TIGER 2010).prj
data/United Way Tracts (TIGER 2010).shp
data/United Way Tracts (TIGER 2010).shx
trash/countyindex.R
trash/countyindex.R
key.R

junk/deleteme.R
data/Unit Test Z Score.xlsx
data/fwdfollowupfromyesterdaysconversation.zip
data/GOVTUNIT_Georgia_State_Shape/GOVTUNIT_Georgia_State_Shape.zip
data/GOVTUNIT_Georgia_State_Shape/GOVTUNIT_Georgia_State_Shape.xml
Unit Test 2016 Original Data.xlsx
trash/df_complete_script.R
trash/template.R
trash/tempR.R
trash/unit test.R
trash/United1.R
data/GOVTUNIT_Georgia_State_Shape/Employment_Estimates_by_Census_Tract_2009.shp
data/GOVTUNIT_Georgia_State_Shape/UNITED WAY TRACTS (TIGER 2010).DBF
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).prj
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).shp
data/GOVTUNIT_Georgia_State_Shape/United Way Tracts (TIGER 2010).shx
~$2016 Original Data.xlsx
data/UNITED WAY TRACTS (TIGER 2010).DBF
data/United Way Tracts (TIGER 2010).prj
data/United Way Tracts (TIGER 2010).shp
data/United Way Tracts (TIGER 2010).shx
trash/countyindex.R
trash/countyindex.R
trash/
create buttons.R
test create buttons.R
United Way Final1-2.R
United Way Final1-3.R
United Way Final2-2.R
model/UWmap.R
app2.R
app3.R
junk/Broke the script in an unexpected way.R
start2.R
